.star-3d {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  /* background: linear-gradient(0deg, #061E33 0%, #082b4a 100%); */
  background-image: url('../../image/sky.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
