.healing__music__wrapper {
  background: linear-gradient(120deg, #fa709a, #fee140);
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-family: 'Love_son';

}
.before {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}
.before i {
  font-size:1.5rem;
  color:#fff;
  cursor: pointer;
}

.contentWrap {
  transition: background 1s ease-out;
  width: 40%;
  height: 100%;
  touch-action: none;
  overflow: hidden;
  position: relative;
}


.music__list__main__wrapper {
  width: 60%;
  height: 100%;
  padding: 1rem;
}
.music__list__wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
}


audio {
  width: 100%;
  height: 1rem;
  border: 1px solid;
}
.music__list {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  overflow-x: hidden;
}

.music__item {
  width: 100%;
  height: 20rem;
  position: relative;
  /* cursor: pointer; */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.music__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}



.title {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: -10;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,0.8);
  pointer-events: none;
  transition: all .5s;
}

.audio__state__false,.audio__state__true {
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  transform: translate(-50%,-50%);
  z-index: 10;
  transition: all .5s;
  /* pointer-events: none; */
  cursor: pointer;
}


.music__item:hover .title,.music__item:hover .audio__state__false,.music__item:hover .audio__state__true{
  opacity: 1;
  z-index: 30;
}

#audio {
  border: none;
  height: 1.2rem;
  opacity: 0.8;
}

.contentWrap .album {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease-in-out;
}

.album.change {
 animation: change .6s forwards;
}

@keyframes change {
  0% {
    opacity: 1;
    transform: translate(-50%,-50%);

  }
  50% {
    opacity: 0;
    transform: translate(-60%,-50%);
  }
  100%{
    opacity: 1;
    transform: translate(-50%,-50%);
  }
}

.contentWrap .album.active {
  visibility: visible;
  opacity: 1;
  /* left: 50%; */
}

.contentWrap .album.active .disk {
  left: 140px;
  transition-delay: .5s;
}


.contentWrap .album .coverImg {
  position: absolute;
  width: 400px;
  height: 400px;
  box-shadow: 2px 14px 40px rgba(0, 0, 0, 0.3);
}

.contentWrap .album .coverImg img {
  width: inherit;
  height: inherit;
}



.contentWrap .album .disk {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 392px;
  height: 392px;
  border-radius: 50%;
  background: linear-gradient(120deg, #000, #333333, #000);
  box-shadow: 4px 14px 40px rgba(0, 0, 0, 0.3);
  transition: left 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: rotateAni 10s ease infinite;
}

.contentWrap .album .disk .disk_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  background-color: #fa709a;
  border-radius: 50%;
  border: 3px dashed rgba(255, 255, 255, 0.4);
}

.contentWrap .album .disk .disk_inner::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: #333;
  border-radius: 50%;
}

.contentWrap .album:hover .disk {
  left: 40%;
  transition-delay: 0s;
}

.buttonWrap {
  position: fixed;
  bottom: 5vh;
  text-align: center;
  width: 100%;
}

.buttonWrap button {
  padding: 6px 20px;
  margin: 0 3px;
  background-color: #000;
  color: #fff;
  transition: all .3s ease-out;
}

.buttonWrap button:hover {
  background-color: #fff;
  color: #000;
}

.buttonWrap .pointWrap {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

.buttonWrap .pointWrap li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transition: background .3s ease-out;
}

.buttonWrap .pointWrap li.active {
  background-color: black;
}

@keyframes rotateAni {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}



@media (max-width: 1400px) {
  .contentWrap {
    width: 100%;
    height: 80vh;
    overflow: visible;
    display: flex;
    justify-content: center;
    /* margin: 5rem 0; */
  }
  .contentWrap .album {
    /* top: 40%; */
    position: relative;
    width: 480px;
    height: 380px;
  }
  .music__list__main__wrapper {
    width: 100%;
    overflow: auto;
  }
  .music__list {
    grid-template-columns: repeat(2,1fr);
  }
  .music__item {
    height: 10rem;

  }
  .title {
    padding:  0 0.3rem;
    font-size: 0.7rem;
  }
  .audio__state__false,.audio__state__true {
    font-size: 0.9rem;
    bottom: 7rem;
  }
}


@media  (max-width: 1400px) {
  .contentWrap .album.active {
    top: 60%;
    left: 35%;
  }
  .contentWrap .album.active .disk {
    left: 30%;
    transition-delay: .5s;
  }
}

@media  (max-width: 1400px) {
  .contentWrap .album .coverImg {
    width: 390px;
    height: 390px;
  }
}


@media only screen and (max-width: 1400px) {
  .contentWrap .album .disk {
    width: 384px;
    height:384px;
  }
}


@media only screen and (max-width: 1400px) {
  .contentWrap .album .disk .disk_inner {
    width: 180px;
    height: 180px;
  }
}


@media (max-width: 1200px) {
  .healing__music__wrapper {
    flex-direction: column;
    overflow: hidden;

  }
  .contentWrap {
    width: 100%;
    height: 80vh;
    overflow: visible;
    display: flex;
    justify-content: center;
    /* margin: 5rem 0; */
  }
  .contentWrap .album {
    /* top: 40%; */
    position: relative;
    width: 100%;
    height: 100%;
  }
  .music__list__main__wrapper {
    width: 100%;
    overflow: auto;
  }
  .music__list {
    grid-template-columns: repeat(2,1fr);
  }
  .music__item {
    height: 30rem;

  }
  .title {
    padding:  0 0.3rem;
    font-size: 2rem;
  }
  .audio__state__false,.audio__state__true {
    font-size: 1.5rem;
    bottom: 20rem;
  }
}


@media  (max-width: 1200px) {
  .contentWrap .album.active {
    /* top: 60%; */
    left: 75%;
  }
  .contentWrap .album.active .disk {
    left: 15%;
    transition-delay: .5s;
  }
}

@media  (max-width: 1200px) {
  .contentWrap .album .coverImg {
    width: 390px;
    height: 390px;
  }
}


@media only screen and (max-width: 1200px) {
  .contentWrap .album .disk {
    width: 384px;
    height:384px;
  }
}


@media only screen and (max-width: 1200px) {
  .contentWrap .album .disk .disk_inner {
    width: 180px;
    height: 180px;
  }
}




@media (max-width: 820px) {
  .healing__music__wrapper {
    flex-direction: row;
    /* flex-direction: column; */
    padding: 0;
    overflow: hidden;
  }
  .contentWrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* margin: 5rem 0; */
  }
  .contentWrap .album {
    /* top: 40%; */
    position: relative;
    width: 100%;
    height: 100%;
    /* margin-bottom: 6rem; */
  }
  .music__list__main__wrapper {
    width: 100%;
    overflow: auto;
  }
  .music__list__wrapper {
    padding: 0;
  }
  .music__list {
    grid-template-columns: repeat(2,1fr);
  }
  .music__item {
    height: 9rem;

  }
  .title {
    padding:  0 0.3rem;
    font-size: 0.7rem;
  }
  .audio__state__false,.audio__state__true {
    font-size: 0.9rem;
    bottom: 7rem;
  }
}


@media  (max-width: 820px) {
  .contentWrap .album.active {
    top: 70%;
    left: 70%;
  }
  .contentWrap .album.active .disk {
    left: 18%;
    transition-delay: .5s;
  }
}

@media  (max-width: 820px) {
  .contentWrap .album .coverImg {
    width: 190px;
    height: 190px;
  }
}


@media only screen and (max-width: 820px) {
  .contentWrap .album .disk {
    width: 184px;
    height: 184px;
  }
}


@media only screen and (max-width: 820px) {
  .contentWrap .album .disk .disk_inner {
    width: 100px;
    height: 100px;
  }
}






@media (max-width: 720px) {
  .healing__music__wrapper {
    flex-direction: column;
    overflow: hidden;
    padding: 0;
  }
  .contentWrap {
    width: 100%;
    height: 80vh;
    overflow: visible;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
  }
  .contentWrap .album {
    /* top: 40%; */
    position: relative;
    width: 280px;
    height: 180px;
  }
  .music__list__main__wrapper {
    width: 100%;
    overflow: auto;
    padding: 0;
  }
  .music__list {
    grid-template-columns: repeat(2,1fr);
  }
  .music__item {
    height: 10rem;

  }
  .title {
    padding:  0 0.3rem;
    font-size: 0.7rem;
  }
  .audio__state__false,.audio__state__true {
    font-size: 0.9rem;
    bottom: 7rem;
  }
}


@media  (max-width: 720px) {
  .contentWrap .album.active {
    top: 45%;
    left: 45%;
  }
  .contentWrap .album.active .disk {
    left: 27%;
    transition-delay: .5s;
  }
}

@media  (max-width: 720px) {
  .contentWrap .album .coverImg {
    width: 190px;
    height: 190px;
  }
}


@media only screen and (max-width: 720px) {
  .contentWrap .album .disk {
    width: 184px;
    height: 184px;
  }
}


@media only screen and (max-width: 720px) {
  .contentWrap .album .disk .disk_inner {
    width: 100px;
    height: 100px;
  }
}

::-webkit-scrollbar {
  width:12px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color:#fff;
  border-radius: 6px;
}



