
.join__main__wrapper {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  font-family: 'SLEIGothicTTF';
}

.intro__header{
  font-family: 'GyeonggiBatang';
  font-family: 'Love_son';
   position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 2rem;
  color: rgb(141, 95, 95);
  font-weight: 600;
}

.back {
  position: absolute;
  display: inline-block;
  z-index: 30;
}

.back i {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.joy__category__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
}

.joy__items{
  width: 20%;
  margin-right: 3rem;
  height:65%;
  border-radius: 1rem;
  position: relative;
  transform-style: preserve-3d;
  /* border: 3px solid rgba(255,255,255,0.7); */
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  cursor: pointer;
  transform: translate3d(0,0,-100px) ;

  transition: all .7s;
}

.joy__items::before{
  position: absolute;
  content: "";
  top: 2%;
  right: 5%;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: rgba(230, 127, 127, 0.6);
}
.joy__items::after{
  position: absolute;
  content: "";
  bottom: 5%;
  left: 5%;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: rgba(230, 127, 127, 0.6);
}
.joy__items:nth-of-type(2):before{
  background-color: rgba(158, 182, 144, 0.9);
}
.joy__items:nth-of-type(3):before{
  background-color: rgba(138, 185, 189, 0.9);
}

.joy__items:nth-of-type(2):after{
  background-color: rgba(158, 182, 144, 0.9);
}
.joy__items:nth-of-type(3):after{
  background-color: rgba(138, 185, 189, 0.9);
}


.thumbnail {
  opacity: 0;
  width: 13rem;
  height: 15rem;
  z-index: 30;
  position: absolute;
  bottom: -5%;
  right: -8%;
  transition: all .7s;

}

.joy__items:hover{
  transform: translate3d(0,0,100px) ;
}

.joy__items:hover .thumbnail {
  opacity: 1;
  bottom: 5%;
  transform: translate3d(0,0,500px) ;

}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translate3d(0,0,100px);
}

.title{
  position: absolute;
  top: 5%;
  left: 10%;
  color: rgb(141, 95, 95);
  transform: translate(-50%,0%);
  font-size: 1.3rem;
  font-weight: 600;
  writing-mode: vertical-lr;
}

.content {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%,0%);
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 4px;
  color: #fff;
  font-weight: 600;
  writing-mode: vertical-lr;
  font-family: 'GyeonggiBatang';

}


@media (max-width:820px){
  .title {
    font-size: 0.8rem;
  }
  .intro__header {
    font-size: .9rem;
  }

  .content {
    font-size: .9rem;
    line-height: 1rem;
  }
}

@media (max-width:380px){
  .joy__items {
    margin-right: 1rem;
  }
  .content {
    top: 10%;
  }
}
