@font-face {
    font-family: 'UhBeemysen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.calendar-container {
    width: 27vw;
    height: 61vh;
    background: rgba(255, 255, 255, 0.35);
    /* background: rgba(255, 255, 255, 0.1); */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 6vh;
    font-family: 'UhBeemysen';
    
}

.calendar-icon i {
    margin: 0 3vw 0 3vw;
    cursor: pointer;
    /* color: #fff; */
    font-size: 1vw;
}


.calendar-container header {
    margin: 0 0 2vh 0;
    text-align: center;
    font-family: 'UhBeemysen';
    font-size: 2vw;
    font-weight: bold;
}

.calendar-container table {
    width: 100%;
    height: 30vh;
    text-align: center;
    margin: 0 auto;
}

table th {
    width: 14.2%;
    padding-bottom: 1.7vh;
    padding-top: 1.7vh;
    /* font-size: 1.7em; */
    font-size: 2vw;
    font-weight: 600;
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}

table td {
    padding: 3px 0;
    height: 6vh;
    /* font-size: 15px; */
    vertical-align: middle;
    font-size: 2vw;
    /* font-size: 1.9em; */
    
}


.dates {
    cursor: pointer;
}

.dates:hover {
    transform: scale(1.25);
    /* color: #fff; */
    color: #35ae6d;
    font-weight: bold;
}

.today {
    color: navy;
    border-radius: 50%;
    font-weight: bold;

}

.not-this-month {
    color: #898989;
}

.image {
    width: 1.9vw;
}

.selected-calendar {
    /* background-color: blue;
    border-radius: 50%; */
    transform: scale(1.25);
    /* color: #fff; */
    color: #35ae6d;
    font-weight: bold;
}