{% set title = "하소연" %}
{% extends "layout/base.html" %}

{% block style -%}
<link rel="stylesheet" href="/css/complain.css">
{% endblock %}
{% block content -%}
<div class="character-wrapper">
  <div class="record__control">
    <button id="record">녹음하기</button>
    <button id="stopRecord" disabled>녹음중지</button>
    <audio id="recordedAudio"></audio>
  </div>
  <video  loop id="myVideo">
    <source src="/video/porest.mp4" type="video/mp4">
  </video>
  <button id="myBtn" onclick="myFunction()">Pause</button>
  <div class="first_guid">
    <h1>안녕하세요. </h1>
    <p>하소연방에 잘 오셨어요!</p>
    <p>오늘의 모든 고민 또는 걱정을 이곳에 두고 가세요!</p>
    <div class="entrance_btn">고민 보관하기</div>
  </div>
  <div class="main">
    <div class="monster">
     <div class="monster__hair"></div>
      <div class="monster__face">
        <div class="monster__eyes">
          <div class="monster__eye"></div>
          <div class="monster__eye"></div>
        </div>
        <div class="monster__cheek">
          <div class="monster__cheek__point"></div>
          <div class="monster__cheek__point"></div>
        </div>
        <div class="monster__mouth">
          <div class="monster__top"></div>
          <div class="monster__bottom"></div>
        </div>
        <div class="monster__body">
          <div class="monster__left__hand"></div>
          <div class="monster__right__hand"></div>
        </div>
      </div>
    </div>
    <div class="monster__bg shadow">
    </div>
  </div>
  <div class="video__wrapper">
  <div class="self_video">
  </div>


{% endblock %}

{% block script%}
<script defer src="/js/face-api.min.js"></script>
<script src="/js/complain.js" defer></script>

{% endblock %}