{% set title = "화상 채팅" %}
{% extends "layout/base.html" %}

{% block style -%}
<link rel="stylesheet" href="/css/roleplaying.css">
{% endblock %}
{% block content -%}
<div class="video-ar-chat-room-wrapper" id="video-ar-wrapper">
  <div class="square" style="--i:0;"></div>
  <div class="square" style="--i:1;"></div>
  <div class="square" style="--i:2;"></div>
  <div class="square" style="--i:3;"></div>
  <div class="square" style="--i:4;"></div>
  <div class="warning-for-landsacpe">
    <div class="warging-section">
      <div class="warning-section-wrapper">
        <div class="warning-section-header">
          원활한 화상채팅을 위해서 가로모드로 변경해 주세요!
        </div>
        <div class="warning-section-content">
          <img src="/image/selfie.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="popup-wrapper">
    <div class="popup-content-wrapper">
      <div class="popup-content-section">
      <div class="popup-content-header">채팅방을 떠나시겠습니까?</div>
      <div class="popup-content-content"><img src="/image/phonecall.svg" alt=""></div>
      <div class="popup-content-btns">
        <div class="exit-btn">떠날래요!</div>
        <div class="exit-canlce-btn">안떠날래요!</div>
      </div>
    </div>
    </div>
  </div>



<div class="video-wrapper">
  <div class="video-wrapper-controler">
    <div class="members">
      
    </div>
    <div id="controls">
      <div class="controls_menu">
    <div class="control_btns">
    <div class="silence">
      <!-- <img src="/image/unsilence.svg" class="unmute" alt=""> -->
      <div class="unmute">음소거 해제</div>
      <div class="mute hide">음소거</div>
      <!-- <img src="/image/silence.svg" class="mute hide" alt=""> -->
    </div>
    <div class="video_show">
      <div class="offair hide">비디오 끄기</div>
      <div class="onair ">비디오 시작</div>
      <!-- <img src="/image/off-air.svg" class="offair hide" alt=""> -->
      <!-- <img src="/image/on-air.svg" class="onair " alt=""> -->
    </div>
    </div>
      <div class="select">
      <select name=""  id="effects">
        <option selected disabled>AR 이모지 선택</option>
        <option value="alien" >Alien</option>
        <option value="aviators">Aviators</option>
        <option value="ball_face">Ball Face</option>
        <option value="beard">Beard</option>
        <option value="beauty">Beauty</option>
        <option value="dalmatian">Dalmatian</option>
        <option value="flower_crown">flower_crown</option>
        <option value="frankenstein">frankenstein</option>
        <option value="manly_face">manly_face</option>
        <option value="pumpkin">pumpkin</option>
        <option value="scuba">scuba</option>
        <option value="teddycigar">teddycigar</option>
        <option value="lion">Lion</option>
        <option value="koala">Koala</option>
        <option value="snowman">Snowman</option>
        <option value="wool_guy">Wool guy</option>
      </select>
    </div>
    <div class="exit-room">
      <span class="exit"><img src="/image/exit.png" alt=""> </span>
      <span class="exit-btn">채팅방 나가기</span>
    </div>
    </div>
    </div>  
  </div>
    
  <div class="video-wrapper-left">
    <div id="videos">
      <div id="publisher" class="ar_video"></div>
      <div id="subscriber1" class="ar_video"></div>
      <div id="subscriber2" class="ar_video"></div>
      <div id="subscriber3" class="ar_video"></div>
    </div>
  </div>
  <div class="video-wrapper-right">
    <div class="main__chat__window" id="main__chat__window">
      <ul class="messages" id="all_messages"></ul>
    </div>
    <div class="main__message__container">
      <input
        type="text"
        id="chat_message"
        placeholder="상대방에게 메세지 보내기"
      />
      <div class="sendMsg">
        <img src="/image/send.svg" alt="">
      </div>
    </div>
  </div>

</div>
</div>
{% endblock %}

{% block script%}
<!-- <script defer src="/js/face-api.min.js"></script> -->
<!-- <script src="/js/script.js" defer></script> -->
<script  src="/js/face-ar.js" defer></script>
{% endblock %}