{% set title = "화상 채팅" %}
{% extends "layout/base.html" %}

{% block style -%}
<link rel="stylesheet" href="/css/style.css">
{% endblock %}
{% block content -%}
<div class="room-wrapper">
  <div class="main">
    <div class="main__left">
      <div class="main__videos">
        <div class="video-grid">
        </div>
      </div>
      <div class="main__controls">
        <div class="main__controls_block">
          <div class="main__controls_button" id="muteButton">
            <img src="/image/unsilence.svg" class="unmute" alt="">
            <img src="/image/silence.svg" class="mute hide" alt="">
          </div>
          <div class="main__controls_button" id="playPauseVideo">
            <img src="/image/off-air.svg" class="offair hide" alt="">
            <img src="/image/on-air.svg" class="onair " alt="">
          </div>
          <div class="main__controls_button" id="chat">
            <img src="/image/off-air.svg" class="offair hide" alt="">
            <img src="/image/on-air.svg" class="onair " alt="">
          </div>
        </div>

      </div>
    </div>
    <div class="main__right">
      
      <div class="main__chat__window" id="main__chat__window">
        <ul class="messages" id="all_messages"></ul>
      </div>
      <div class="main__message_container">
        <input
          type="text"
          id="chat_message"
          placeholder=">> 메세지 보내기"
        />
        <div class="sendMsg">
          <img src="/image/send.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script%}
<script defer src="/js/face-api.min.js"></script>
<script src="/js/script.js" defer></script>

{% endblock %}