{% set title = "화상 채팅" %}
{% extends "layout/base.html" %}

{% block style -%}
<link rel="stylesheet" href="/css/style.css">
{% endblock %}
{% block content -%}
<div class="room-wrapper">
  <div class="square" style="--i:0;"></div>
  <div class="square" style="--i:1;"></div>
  <div class="square" style="--i:2;"></div>
  <div class="square" style="--i:3;"></div>
  <div class="square" style="--i:4;"></div>
  <div class="warning-for-landsacpe">
    <div class="warging-section">
      <div class="warning-section-wrapper">
        <div class="warning-section-header">
          원활한 화상채팅을 위해서 가로모드로 변경해 주세요!
        </div>
        <div class="warning-section-content">
          <img src="/image/selfie.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="popup-wrapper">
    <div class="popup-content-wrapper">
      <div class="popup-content-section">
      <div class="popup-content-header">채팅방을 떠나시겠습니까?</div>
      <div class="popup-content-content"><img src="/image/phonecall.svg" alt=""></div>
      <div class="popup-content-btns">
        <div class="exit-btn">떠날래요!</div>
        <div class="exit-canlce-btn">안떠날래요!</div>
      </div>
    </div>
    </div>
  </div>

  <div class="main">
    <div class="main__left">
      <div class="main__controls">
        <div class="main__controls_block">
          <div class="main__controls_button" id="muteButton">
            <div class="unmute">음소거 해제</div>
            <div class="mute hide">음소거</div>
          </div>
          <div class="main__controls_button" id="playPauseVideo">
            <div class="offair hide">비디오 끄기</div>
            <div class="onair ">비디오 시작</div>
          </div>
        </div>
        <div class="exit-room">
          <span class="exit"><img src="/image/exit.png" alt=""> </span>
          <span class="exit-btn">채팅방 나가기</span>
        </div>
      </div>
      <div class="main__videos">
        <div class="video-grid">
        </div>
      </div>
    </div>
    <div class="main__right">
      <div class="main__chat__window" id="main__chat__window">
        <ul class="messages" id="all_messages"></ul>
      </div>
      <div class="main__message_container">
        <input
          type="text"
          id="chat_message"
          placeholder="상대방에게 메세지 보내기"
        />
        <div class="sendMsg">
          <img src="/image/send.svg" alt="">
        </div>
      </div>  
    </div>
  </div>
</div>

{% endblock %}

{% block script%}
<script defer src="/js/face-api.min.js"></script>
<script src="/js/script.js" defer></script>

{% endblock %}