.mail_box_main_wrapper {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: white;
  background-image: url('../../image/AdobeStock_90351428.jpeg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.backarrow_wrapper {
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 3rem;
  left: 1rem;
}

.backarrow{
  font-size:1.5rem;
  cursor: pointer;
}
.mailbox_main_title {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%,0);
}

.mailbox_name{
  font-size: 2.8rem;
  text-align: center;
  padding: 1% 0 6% 0;
  font-family: 'InfinitySans-BoldA1';
}
.mailbox_title{
width: 100%;
height: 20%;
font-size: 1.44rem;
text-align: center;
font-family: 'GyeonggiBatang';
}

.postmenu_wrapper {
  position: relative;
  width: 90%;
  height: 60%;
/*      background-color: aqua;*/
  left: 50%;
  top: 58%;
  transform: translate(-50%,-50%);
}

.postmenu1 {
  position: absolute;
  border-radius: 20px;
  width: 18%;
  height: 71%;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
/*       background: #fafafa;*/
  background: #f8f8f8;
/*      border: 2px solid  rgba(251,194,235,1);*/
  border-radius: 20px;
  
  box-shadow: 40px 40px 40px #cccccc,
    0 0 0 #ffffff,
    0 0 0 #cccccc inset,
    2px 2px 2px #ffffff inset;
    cursor: pointer;
/*      animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;*/
  animation-fill-mode: forwards;
 
}

.back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}

.back i {
  font-size: 1.5rem;
  cursor: pointer;
}



@keyframes anime {
  0% {
    width: 15%;
    height: 40%;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc,
      0 0 0 #ffffff,
      10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
  }

  25% {
    width: 15%;
    height: 40%;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc,
      10px 10px 10px #ffffff,
      0 0 0 #cccccc inset,
      0 0 0 #ffffff inset;
  }

  50% {
    width: 15%;
    height: 8%;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc,
      10px 10px 10px #ffffff,
      0 0 0 #cccccc inset,
      0 0 0 #ffffff inset;
  }

  100% {
    width: 4%;
    height: 8%;
    background: #fafafa;
    box-shadow: 40px 40px 40px #cccccc,
      0 0 0 #ffffff,
      0 0 0 #cccccc inset,
      2px 2px 2px #ffffff inset;
  }
}

.postmenu1_content{
position: relative;
/*  background-color:aqua;*/
width: 100%;
height: 100%;
text-align: center;
pointer-events: none;
}
.postmenu1_title{
color: red;
font-size: 2.44rem;
padding-top: 42%;
font-family: 'InfinitySans-BoldA1';
}

.postmenu1_subtitle{
color: #696969;
font-size: 1.14rem;
padding-top: 6.5%;
font-family: 'SLEIGothicTTF';
}

.pen_wrapper{
width: 85%;
animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
position: absolute;
top:59%;
left:-40%;
pointer-events: none;
backface-visibility: hidden;
}


.pen_img{
width: 45%;
/*  transform-origin: top right;*/
/*  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);*/
transition-delay: 100ms;
transform: translateX(30%) rotateZ(-11deg) skewX(1deg);
pointer-events: none;
opacity: 1;
}

.postmenu2 {
  position: absolute;
  width: 18%;
  height: 71%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f8f8f8;
  cursor: pointer;
/*      border: 2px solid  rgba(251,194,235,1);*/
  border-radius: 20px;
  
  box-shadow: 40px 40px 40px #cccccc,
    0 0 0 #ffffff,
    0 0 0 #cccccc inset,
    2px 2px 2px #ffffff inset;
  animation-fill-mode: forwards;
  cursor: pointer;
}


.click1,.click2,.click3 {
  background-image: linear-gradient(180deg, rgba(251,194,235,1) 0%, rgba(166,193,238,1) 100%);
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);

  border: 0px;
  box-shadow: 0 0 0 #cccccc,
      0 0 0 #ffffff,
      10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
}

.click2 {
  background-image: linear-gradient(180deg, rgba(251,194,235,1) 0%, rgba(166,193,238,1) 100%);
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);

}

.click3 {
  background-image: linear-gradient(180deg, rgba(251,194,235,1) 0%, rgba(166,193,238,1) 100%);
  background-image: linear-gradient(125deg, #df89b5 0%, #bfd9fe 100%);

}

@keyframes anime2 {

  0% {
    width: 15%;
    height: 40%;
    background: #f8f8f8;
     border: 4px solid  rgba(251,194,235,1);
    box-shadow: 10px 10px 10px #cccccc,
      10px 10px 10px #ffffff,
      0 0 0 #cccccc inset,
      0 0 0 #ffffff inset;
  }

  50% {
    width: 15%;
    height: 40%;
    background-image: linear-gradient(180deg, rgba(251,194,235,1) 0%, rgba(166,193,238,1) 100%);
    border: 0px;
    box-shadow: 0 0 0 #cccccc,
      0 0 0 #ffffff,
      10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
  }

  100% {
    width: 15%;
    height: 40%;
    background: #f8f8f8;
     border: 4px solid  rgba(251,194,235,1);
    box-shadow: 10px 10px 10px #cccccc,
      10px 10px 10px #ffffff,
      0 0 0 #cccccc inset,
      0 0 0 #ffffff inset;
  }
}


.postmenu2_content{
position: relative;
/*  background-color:aqua;*/
width: 100%;
height: 100%;
text-align: center;
pointer-events: none;

}

.postmenu2_title{
  color: red;
  font-size: 2.20rem;
  padding-top: 42%;
  font-family: 'InfinitySans-BoldA1';
  }
  
  .postmenu2_subtitle{
  color: #696969;
  font-size: 1.14rem;
  padding-top: 6.5%;
  font-family: 'SLEIGothicTTF';
  }

.letter_wrapper{
width: 85%;
animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
position: absolute;
top: 63%;
left:17%;
pointer-events: none;
backface-visibility: hidden;
}


.letter_img{
width: 65%;
/*  transform-origin: top right;*/
/*  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);*/
transition-delay: 100ms;
transform: translateX(30%) rotateZ(-11deg) skewX(1deg);
pointer-events: none;
opacity: 1;
}

.letter_wrapper2{
width: 85%;
animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
position: absolute;
top: 82%;
left:-9%;
pointer-events: none;
backface-visibility: hidden;
}


.letter2_img{
width: 38%;
/*  transform-origin: top right;*/
/*  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);*/
transition-delay: 100ms;
transform: translateX(30%) rotateZ(11deg) skewX(1deg);
pointer-events: none;
opacity: 1;
}

.postmenu3 {
  position: absolute;
  border-radius: 20px;
  width: 18%;
  height: 71%;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fafafa;
  box-shadow: 40px 40px 40px #cccccc,
    0 0 0 #ffffff,
    0 0 0 #cccccc inset,
    2px 2px 2px #ffffff inset;
  cursor: pointer;

  animation: anime3 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
  animation-fill-mode: forwards;
}
/*


@keyframes anime3 {

  0% {
    width: 15%;
    height: 40%;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc,
      10px 10px 10px #ffffff,
      0 0 0 #cccccc inset,
      0 0 0 #ffffff inset;
  }

  50% {
    width: 15%;
    height: 40%;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc,
      0 0 0 #ffffff,
      10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
  }

  100% {
    width: 15%;
    height: 40%;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc,
      10px 10px 10px #ffffff,
      0 0 0 #cccccc inset,
      0 0 0 #ffffff inset;
  }
}
*/



.postmenu3_content{
position: relative;
/*  background-color:aqua;*/
width: 100%;
height: 100%;
text-align: center;
pointer-events: none;

}


.postmenu3_title{
  color: red;
  font-size: 2.20rem;
  padding-top: 42%;
  font-family: 'InfinitySans-BoldA1';
  }
  
  .postmenu3_subtitle{
  color: #696969;
  font-size: 1.14rem;
  padding-top: 6.5%;
  font-family: 'SLEIGothicTTF';
  }

.post_wrapper{
width: 85%;
animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
position: absolute;
top: 58%;
left:32%;
pointer-events: none;
backface-visibility: hidden;
}


.post_img{
width: 50%;
/*  transform-origin: top right;*/
/*  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);*/
transition-delay: 100ms;
transform: translateX(30%) rotateZ(-4deg) skewX(1deg);
pointer-events: none;
opacity: 1;
}
