.received_mail_main_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../../image/AdobeStock_90351428.jpeg');
    /* background-image: url('../../image/sky.jpg');
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-image: linear-gradient(125deg, #df89b5 0%, #bfd9fe 100%); */
    background-position: 0% 5%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
}

.back {
  position: absolute;
  display: inline-block;
  z-index: 30;
  top: 1rem;
  left: 1rem;
}

.back i {
  position: absolute;
  font-size: 1.5rem;
  cursor: pointer;
}


/* .backarrow {
  position: absolute;
  top: 3rem;
  left: 1rem;
  z-index: 300;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
} */

.star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.received_mail_inner_wrapper {
    width: 90%;
    height: 90%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;
}

.received_mail_inner_left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: inherit;
}


.received_mail_inner_right {
    padding:0 1rem 0 1rem;
    width: 68%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(0px);
    /* background: rgba(255, 255, 255, 0.2); */
    /* box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1); */
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    /* border-right: 1px solid rgba(255, 255, 255, 0.2); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}


.section_header {
    width: 100%;
    border-radius: inherit;
    height: 10%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    /* box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.3); */

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header_btn1, .header_btn2 {
    width: 45%;
    text-align: center;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    display: felx;
    /* color: #333; */
    padding: 1rem;
    /* background-color: #fff; */
    /* background-color: ; */
      font-family: 'GyeonggiBatang';


    cursor: pointer;
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.3);
    box-shadow: 1px 5px 45px rgba(0, 0, 0, 0.1);

    transition: all .5s;
}

.header_btn1:hover, .header_btn2:hover {
    transform: scale(1.02);
}

.header_btn1.click, .header_btn2.click{
  color: black;
}

.section_body {
    width: 100%;
    height: 89%;
    padding: 2rem ;
    border-radius: 1rem;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    /* box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.3); */

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.root_mail_header {
    width: 100%;
    height: 10%;
		padding: 1rem;
    border-radius: inherit;
		backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.box-wrapper {
	position: fixed;
	bottom: 2rem;
	right: 2.5rem;
}

/* box */
.box {
  width:80px;
  height:80px;
  position:relative;
  /* margin: 180px auto; */
	cursor: pointer;
  transform-style:preserve-3d;
	transform: rotateX(-20deg);
}
.box:hover {
    animation: spin .4s forwards linear;
}
.side {
  width:80px;
  height:80px;
  background: #fff;
  border:1px solid #000;
  position:absolute;
}
.side-1 {
  width:80px;
  height:80px;
  position:absolute;
	border-top: 1px solid;
  transform: rotateX(90deg) translateZ(40px);
  transform-style:preserve-3d;
}

.side-2 {
  transform: translateZ(40px);
  display: flex;
	justify-content: center;
	align-items: center;
  line-height: 30px;
  font-size:0.7rem;
	font-weight: 600;
  text-align:center;
}

.side-3 {
  transform: rotateY(90deg) translateZ(40px);
}

.side-4 {
  transform: rotateX(-90deg) rotate(180deg) translateZ(40px);
}

.side-5 {
  transform: rotateY(180deg) translateZ(40px);
}

.side-6 {
  transform: rotateY(-90deg) translateZ(40px);
}
.inner-side {
  transition: .3s all linear;
}

.flap-1, .flap-2 {
  width:80px;
  height:50px; 
}

.flap-1 {
  top:30px;
  transform-origin:0px 50px;
}

.flap-2 {
  transform-origin:100px 0px;
}
.box:hover .flap-1 {
  transform: rotateX(-120deg);
}

.box:hover .flap-2 {
  transform: rotateX(120deg);
}

@keyframes spin {
  to { transform:  rotateX(-20deg) rotateY(60deg); }
}

.box_papers {
	position: absolute;
	display: inline-block;
	width: 70px;
	height: 80px;
	background-color: #fff;
	transition: 1s all;
	border: 1px solid rgba(0,0,0,0.8);
}
.box_papers:nth-of-type(1) {
	left: 10px;
}
.box_papers:nth-of-type(2) {
	left: 5px;
}
.box_papers:nth-of-type(3) {
	left: 3px;
}
.box_papers:nth-of-type(4) {
	left: 1px;
}

.box:hover .box_papers{
	animation: 1s papers forwards;
}

@keyframes papers {
	to {
		transform: translateY(-120px);
	}
}

.write_reply {
    width: 100%;
    height: 89%;
		padding: 0 1.5rem;
    border-radius: inherit;
    display: flex;
    justify-content: space-around;
}

.letter_paper {
    width: 100%;
    height: 100%;
    display: flex;
		justify-content: space-around;
    align-items: center;
}

.letter_form_wrapper1 {
    position: relative;
		padding: 1rem;
    width: 46%;
    height: 90%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #F2F2CF;
    /* background-color: #f6f6f6; */
    box-shadow: inset 0 0px 30px -5px #e9dccb, 0 0 10px -5px;
		/* border: 1px solid black; */
    margin-right: 2rem;

}
.letter_form_wrapper2 {
  position: relative;
  padding: 1rem;
  width: 46%;
  height: 90%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #F2F2CF;
  /* background-color: #f6f6f6; */
  box-shadow: inset 0 0px 30px -5px #e9dccb, 0 0 10px -5px;
  /* border: 1px solid black; */

}

.letter_form_wrapper1::before, .letter_form_wrapper2::before{
  position: absolute;
  content: '';
	top: 4px;
	left: -5px;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: rgba(247, 243, 236, 0.938);
	
	transform: rotate(-2.5deg);
}


.letter_form_wrapper1::after, .letter_form_wrapper2::after {
position: absolute;
content: '';
background-color: #f6f6f6;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
z-index: -1;
left: -3px;
top: 1px;
width: 100%;
height: 100%;
transform: rotate(1.4deg);
} 

.paper {
	width: 100%;
	height: 100%;
	padding: 1rem;
	letter-spacing: 1px ;
	line-height: 1rem;
	background-color: inherit;
	overflow-y: scroll;
}

::-webkit-scrollbar {
  width:12px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color:#f6f6f6;
  border-radius: 6px;
}

.ban_btn{
  font-size: 1.1rem;
  font-family: 'GyeonggiBatang';
  color: red;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s linear;

}
.ban_btn:hover {
  border-radius: 0.3rem;
  background-color: #DCD0AA;
  padding: 0.5rem;
}

.reply_btn{
  font-weight: bold;
  cursor: pointer;
  border: none;
  /* padding: 9px 20px 10px 20px; */
  border-radius: 5px;
  box-sizing: border-box;
  margin: -20px 0 0 250px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-family: 'Love_son';
  font-size: 1.4rem;
  color: black;
}


.reply_btn:hover {
  border-radius: 0.3rem;
  background-color: #DCD0AA;
  padding: 0.5rem;
}


.paper_header {
	width: 100%;
	padding: 0.3rem 0;
	font-weight: 600;
	min-height: 10%;
  font-size: 1.6rem;
  font-family: 'Love_son';
}

.paper_content {
	width: 100%;
	min-height: 80%;
	line-height: 1.5rem;
  font-family: 'Love_son';
  font-size: 1.6rem;
}

.paper_footer {
	width: 100%;
	height: 7%;
	padding: 0.5rem 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.finish__mail {
  margin-right: 1rem;
  cursor: pointer;
  font-family: 'GyeonggiBatang';
  font-weight: 600;
  transition: all 0.1s linear;

}
.finish__mail:hover {
  border-radius: 0.3rem;
  background-color: #DCD0AA;
  padding: 0.5rem;
}

.all_letters {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}



.paper_header2 {
	width: 100%;
	padding: 0.3rem 0;
	min-height: 10%;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: bold;
  font-family: 'Love_son';
}

.paper_content2 {
	width: 100%;
	min-height: 80%;
	line-height: 2.5rem;
  font-family: 'Love_son';
  font-size: 1.3rem;
  font-weight: bold;
}

input {
	width: 100%;
	height: 2.5rem;
	font-size: 1.5rem;
	outline: none;
	border: none;
	letter-spacing: 1px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 0 5px 8px;
  margin: 0;
  background-color: #F6F6DF;
  caret-color:#ADADAD;
  outline: none;
  font-family: 'Love_son';
  color: black;

}

textarea {
	margin-top: 0.1rem;
	width: 100%;
	min-height: 25rem;
	line-height: 1.5rem;
	border: none;
	font-size: 1.7rem;
	outline: none;
	/* cursor: pointer; */
  resize: none;
  font-family: 'Love_son';
  box-sizing: border-box;
  padding: 6px 10px 6px 10px;
  background-color: #F6F6DF;
  caret-color:#ADADAD;
}