
.random-mail{
  width: 100vw;
  height: 100vh;
  /* background-image: url('../../image/sky.jpg'); */
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.random_ball {
  width: 3rem;
  height: 3rem;
  background-color: red;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-attachment: fixed;
  padding: 50px;
}

.card {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  /* min-height: 100vh; */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.wrapper .box {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  transition: transform 500ms ease-out;
  overflow: hidden;
  color: #fff;
  padding: 5%;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box h2 {
  font-size: 17px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Black Han Sans', sans-serif;
}
.box p {
  line-height: 1.9;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
}

.box a {
  border: none;
  background: #fff;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50px;
  font-family: 'Black Han Sans', sans-serif;
}

/* .wrapper .box:before {
  content: '';
  background: rgba(255, 255, 255, 0.3);
  width: 60%;
  height: 100%;
  top: 0%;
  left: -125%e;
  transform: skew(45deg);
  position: absolute;
  animation-direction: left;
  transition-duration: 500ms;
} */

.wrapper .box:hover {
  transform: translateY(-5%);
}

/* .wrapper .box:hover:before {
  left: 150%;
} */

/* .container {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 500px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
} */