
.random-mail{
  width: 100vw;
  height: 100vh;
  /* background-image: url('../../image/sky.jpg'); */
  /* background-size: cover; */
  /* background-position: 50% 50%; */
  overflow: hidden;
  position: relative;
  perspective: 1200px;
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

.back i {
  font-size: 1.5rem;
  cursor: pointer;
}
/* .post_box_svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6rem;
  height: 6rem;
  
  z-index: 30;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

.post_box_svg object {
  background-color: #00dbde;
} */

/* #canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
} */


.random_title{
  position: absolute;
  font-size: 2rem;
  top: 20%;
  left: 49%;
  transform: translate(-50%,-50%);
  font-family: 'SLEIGothicTTF';


}


.random_subtitle{
  position: absolute;
  font-size: 1.6rem;
  font-weight: bold;
  top: 34%;
  left: 48%;
  transform: translate(-50%,-50%);
  font-family: 'Love_son';
}


.click_arrow {
  position: absolute;
  /* background-color: aqua; */
  width: 100px;
  height: 100px;
  top: 40%;
  left: 43.5%;
  transform: translate(-50%,-50%);
}
.click_arrow img{
  width: 30px;
  transform: rotate(20deg);
  transform: scaleX(-1);

}

.random_subtitle.hide{
opacity: 0;
}
.click_arrow.hide{
  opacity: 0;
}

.star {
  position: absolute;
  /* top: 0%; */
  /* left: -10%; */
  /* width: 100%; */
  /* height: 100%; */
  pointer-events: none;
  z-index: 100;
}
.fireworks {
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.random-ball-wrapper {
  opacity: 0.8;
  width: 6.5rem;
  height: 6.5rem;
  position: absolute;
  z-index: 33;
  top: calc(50% - 6.5rem);
  left: calc(50% - 6.5rem);
  cursor: pointer;
  /* transform-style: preserve-3d; */
  /* transform: translate(-50%,-50%); */
  /* background-color: #00dbde; */
  /* transform-origin: center center ; */
  animation: 1s shake infinite alternate linear;
}

.random-ball-wrapper object{
  /* transform: translate(-50%,-50%); */

  pointer-events: none;
}

.pop-ball{
  z-index: 0;
  animation: pop 2s forwards;
}
@keyframes shake {
  0% {   transform: rotate(0deg);}
  20% {  transform:  rotate(5deg) }
  50% {  transform:  rotate(0deg)}
  90% {  transform:  rotate(5deg)}
  100% { transform:  rotate(0deg)}
}

@keyframes pop {
  0% {   transform:  scale(0);}
  20% {  transform:  scale(1.5);}
  50% {  transform:  scale(0.5);}
  90% {  transform:  scale(2.5);}
  100% { transform:  scale(0);}
}

/* .random_ball {
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
  animation: wave 4s linear infinite alternate;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.6);
  transform-style: preserve-3d;

  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);

}

@keyframes wave {
  20% {
    border-radius: 45% 55% 62% 38% / 52% 51% 49% 47%;
  }

  40% {
    border-radius:45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60%{ border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;}
 80%{border-radius: 60% 40% 32% 68% / 48% 36% 74% 62%}
} */

.big,.mystery {
  position:absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%,-50%);
}

.big div{
  position: absolute;
  top: calc((50% - 1500px));
  left: calc((50% - 1500px));
  width: 3000px;
  height: 3000px;
  border-radius: 50%;
  transform: scale(0);
}

.big.show div:nth-child(1) {
  background: #fffcee; animation: big .5s 2s forwards;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.big.show div:nth-child(2) {
  background: #66a6ff; animation: big .5s 2.5s forwards;
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

}



@keyframes big {
  0% {  transform: scale(0);}
  100% {transform: scale(1);}
}

.mystery div {
  position: absolute;
  top: calc((50% - 5rem));
  left: calc((50% - 5rem));
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  transform: scale(0);
  z-index: 100;
  cursor: pointer;
}

.mystery.show {
  z-index: 100;

}
.mystery.show div:nth-child(1){
  left: calc(30% - 5rem);
  top: calc(35% - 5rem);
  
  animation: big .3s 3s forwards;
}

.mystery.show div:nth-child(3){
  top: calc(15% - 5rem);
  left: calc(50% - 5rem);
  animation: big .3s 3.3s forwards;
}
.mystery.show div:nth-child(4){
  top: calc(35% - 5rem);
  left: calc(70% - 5rem);
  animation: big .3s 3.6s forwards;
}
.mystery.show div:nth-child(5){
  top: calc(65% - 5rem);
  left: calc(70% - 5rem);
  animation: big .3s 3.9s forwards;
}
.mystery.show div:nth-child(6){
  top: calc(85% - 5rem);
  left: calc(50% - 5rem);
  animation: big .3s 4.2s forwards;
}

.mystery.show div:nth-child(2){
  top: calc(65% - 5rem);
  left: calc(30% - 5rem);
  animation: big .3s 4.5s forwards;
}

/* 
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-attachment: fixed;
  padding: 50px;
} */

.card {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  /* min-height: 100vh; */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.wrapper .box {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  transition: transform 500ms ease-out;
  overflow: hidden;
  color: #fff;
  padding: 5%;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box h2 {
  font-size: 17px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Black Han Sans', sans-serif;
}
.box p {
  line-height: 1.9;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
}

.box a {
  border: none;
  background: #fff;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50px;
  font-family: 'Black Han Sans', sans-serif;
}

/* .wrapper .box:before {
  content: '';
  background: rgba(255, 255, 255, 0.3);
  width: 60%;
  height: 100%;
  top: 0%;
  left: -125%e;
  transform: skew(45deg);
  position: absolute;
  animation-direction: left;
  transition-duration: 500ms;
} */

.wrapper .box:hover {
  transform: translateY(-5%);
}

/* .wrapper .box:hover:before {
  left: 150%;
} */

/* .container {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 500px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
} */