.checkin-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'InfinitySans-BoldA1';

}

.checkin-inner-wrapper {
  width: 30rem;
  height: 30rem; 
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}
.for-user {
  width: 100%;
  height: 100%;
  text-align: center;
}
.checkin-inner-wrapper h1 {
  font-size: 1.5rem;
  color: white;
  margin: 1rem 0;
}
.checkin-inner-wrapper h2 {
  font-size: 1.2rem;
  color: white;
  margin: 1rem 0;
}

.checkin-inner-wrapper form {
  margin:1rem 0;
}


.checkin-inner-wrapper .room-name {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #fff;
}

.checkin-warning {
  margin-top: 0.5rem;
  padding: 0 0.2rem;
  text-align: justify;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.5rem;;
  color: yellow;
}
.warning-checkbox {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 1rem; */
}

.warning-checkbox input {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.warning-checkbox-nonactive {
  opacity: 0;
  color:red;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all .5s;
}

.warning-show {
  opacity: 1;
}
.checkin-btn {
  /* margin-top: 0.5rem; */
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  width: 7rem;
  height: 2rem;
  transition: .5s all;
  cursor: pointer;
  font-family: 'InfinitySans-BoldA1';

}

.checkin-btn:hover{
  background-color: #667eea;
  color: #fff;
}
.non-user {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.non-user p {
  color: #fff;
  font-size: 1,2rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
}
.non-user a {
  text-decoration: none;
}

.non-user a:active,.non-user a:visited{
  color: #fff;
}

.non-user a:hover {
  color: #667eea;
}