canvas {
  background: black;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'SEBANG_Gothic_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: black;
  font-family: 'SEBANG_Gothic_Regular';
}

p {
  z-index: 10;
  text-align: right;
}

.dataLoading {
  position: relative;
  color: #FFFFFF;
  font-size: 15px;
}

.dataLoading:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 18em;
  white-space: nowrap;
  color: #ccff00;
  animation: loading 3s linear infinite;
  -webkit-animation: loading 3s linear infinite;
}

@keyframes loading {
  0% {
    max-width: 0;
  }
}