


html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  
}
h1 {
  font-size: 26px;
  background: #00bcd4;
  color: white;
  padding: 40px 0 100px 20%;
  margin-bottom: 50px;
}
label, p, a, h1, div {
  font-family: Roboto, sans-serif;
}
.tab-wrap {
  width: 50%;
  margin-left: 20%;
  position: relative;
  display: flex;
  top: -106px;
}
input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
}
input[type="radio"][name="tabs"]:checked + .tab-label-content label {
  color: white;
}
input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-content {
  display: block;
}
input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
  left: calc((100% / 2) * 0);
}
input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
  left: calc((100% / 2) * 1);
}

input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
  left: 0;
}
label {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background-color: #00bcd4;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 56px;
  transition: color 0.2s ease;
  width: 100%;
}
.slide {
  background: #ffeb3b;
  width: calc(100% / 2);
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out;
}
.tab-label-content {
  width: 100%;
}
.tab-label-content .tab-content {
  position: absolute;
  top: 100px;
  left: 16px;
  line-height: 130%;
  display: none;
}
@media screen and (max-width: 800px) {
  h1 {
    padding: 40px 0 90px 10%;
  }
  .tab-wrap {
    width: 80%;
    margin-left: 10%;
    top: -106px;
  }
}
.follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: block;
  margin: 300px auto 0;
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
.follow i {
  margin-right: 20px;
  transition: margin-right 0.2s ease;
}
.follow:hover {
  width: 134px;
}
.follow:hover i {
  margin-right: 10px;
}
@media screen and (max-width: 800px) {
  .follow {
    margin: 400px auto 0;
  }
}







button {
  display: block;
  width: 100px;
  height: 100px;
}

.buttons {
  float: left;
}

.text {
  margin-left: 100px;
  position: relative;
  background-color: grey;
  width: 800px;
  height: 300px;
}

.text p {
  color: white;
  font-size: 18px;
  font-family: monospace;
  font-weight: bold;
}

.text-tab.active {
  visibility: visible;
  opacity: 1;
}

.text-tab {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  transition: 1s;
  transition-timing-function: ease-in;
  visibility: hidden;
  opacity: 0;
}



