body{ 
/*  display: flex;*/
  width: 100vw;
  height: 100vh;
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
/*  background-image: linear-gradient(-55deg, rgba(50,45,55,1) 0%, rgba(101,96,106,1) 100%);*/
  color: black;
  font-weight: 300;
  animation: fadeIn .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1;
  box-sizing: border-box;
}

.wrapper{
  width: 16%;
  height: 53%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: aqua;
  perspective: 800px;
  position: relative;
}

.card{
  width: 100%;
  height:100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  cursor: pointer;
}

.card > div{
  position: absolute;
  width: 100%;
  height: 90%;
  padding: 5% 5%;
  transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
/*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/

.front{
  background-image: linear-gradient(180deg, rgba(251,194,235,1) 0%, rgba(166,193,238,1) 100%);
  transform: rotateY(0deg) translateZ(160px); 
  border-radius: 34px 3px 0 0;
}

.right{ 
    background-image: linear-gradient(180deg, rgba(166,193,238,1) 0%,  rgba(251,194,235,1)  100%);
/*  background-image: linear-gradient(0deg, rgba(145,141,144,1) 0%, rgba(92,91,94,0) 100%);*/
  opacity: 0.08;
  transform: rotateY(90deg) translateZ(160px);
  border-radius: 0 0 3px 34px;
}

.card:hover{
  transform: translateZ(-160px) rotateY( -90deg);
}

.card:hover .front{
  opacity: 0; 
}

.card:hover .right{
  opacity: 1; 
}

h1,h2{
  margin: 0;
  font-size: 38px;
  letter-spacing: -.25px;
  transform: translateX(-44px);
  font-family: 'Sarala'; 
  font-weight: 700;
}

h2{
  font-size: 21px;
  transform: translateX(-34px);
}

p{
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

span{
  margin-left: 13px;
  opacity: .55;
}

img{
  transform-origin: top right;
  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transition-delay: 100ms;
  transform: translateX(21%) rotateZ(13deg) skewX(3deg);
  pointer-events: none;
}


.img-wrapper{
  animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
  position: absolute;
  top: 0; right: 0;
  pointer-events: none;
  backface-visibility: hidden;
}

@keyframes float{
  0%{
    transform: translateZ(20px);
  }
  100%{
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}

.card:hover ~ .img-wrapper img{
  transform: scale(0.9) translateX(77%) translateY(90%) rotateZ(80deg);
}

ul{
  margin-left: 21px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

li{
  padding-bottom: 8px;
  position: relative;
}

li:before{
  content: 'x';
  position: absolute;
  left: -21px;
  opacity: .55;
}



.price{
  position: absolute;
  bottom: 34px;
  left: 21px;
  font-size: 34px;
  opacity: .34;
}

@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}

/*
@media only screen and (max-width: 600px){
  body{
    transform: scale(.67);
  }
}*/
