.vr__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  font-family: 'SLEIGothicTTF';

}


.before {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}
.before i {
  font-size:1.5rem;
  color:#333;
  cursor: pointer;
}

.video__main__Wrapper {
  width: 50%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.healing__VR {
  width: 92%;
  height: 97%;
  border-radius: 1rem;
}
.video__list__Wrapper {
  width: 50%;
  height: 100%;
}

.video__list {
  width: 100%;
  height: 100%;
  padding: 1rem 4rem 1rem 1rem;
  overflow-x: hidden;
}
.video__item {
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid;
  margin: 1.5rem 0;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  cursor: pointer;
}
.content__wrapper {
  padding: 1rem;
  width: 60%;
  height: 100%;
  position: relative;
  pointer-events: none;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}

.content__wrapper .title {
  font-size: 1.1rem;
  font-weight: 600;
  /* margin: 1rem 0; */
}

.content__wrapper .content {
  font-size: 0.9rem;
  line-height: 1.3rem;
  text-align: justify;
  padding: 1rem 0;
}

.content__wrapper .footer {
  position: absolute;
  font-size: 0.7rem;
  bottom: 1rem;
}
.vr__thumbnail {
  width: 40%;
  height: 100%;
  border-radius:0 1rem 1rem 0;
}

::-webkit-scrollbar {
  width:12px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color:#fff;
  border-radius: 6px;
}

@media (max-width:1400px){
  .vr__wrapper {
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .video__main__Wrapper {
    width: 100%;
    height: 100%;
  }
  .healing__VR {
    width: 98%;
    height: 70vh;
  }
  .video__list__Wrapper {
    width: 100%;

  }
}
@media (max-width:400px){
  .vr__wrapper {
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .video__main__Wrapper {
    width: 100%;
    height: 100%;
  }
  .healing__VR {
    width: 98%;
    height: 30vh;
  }

  .content__wrapper {
    padding: 0.5rem;
    width: 60%;
    height: 100%;
    position: relative;
    pointer-events: none;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
  }
  
  .content__wrapper .content {
    font-size: 0.4rem;
    line-height: 1rem;
    text-align: justify;
    padding: 1rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;    
    overflow: hidden;    
    display: block;
  }
  .content__wrapper .footer {
    position: absolute;
    font-size: 0.2rem;
    bottom: 1rem;
    
  }
}