body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./image/26_april_11.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.background_img{
  position: absolute;
  width: 120%;
  height: 120%; 
}

.main_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}


/*-------post (우체통)--------*/


.post_ground_wrapper {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.post_ground_container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 2s all;
}


.post_island{
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.post_ground_container:hover {
  transform: scale(1.1) translateY(-20px);
}

.post_shadow{
   filter: drop-shadow( 5px 20px 20px rgba(0, 0, 0, .7));
}

/*-------board (게시판)--------*/

.board_ground_wrapper{
  position: absolute;
  width: 23%;
  height: 23%;
  top: 24%;
  left: 20%;
  transform: translate(-50%,-50%);
}

.board_ground_container{
  position: relative;
  width: 100%;
  height: 100%;
  transition: 2s all;
}

.board_ground_container:hover {
  transform: scale(1.1) translateY(-20px);
}

.board_island{
  position: absolute;  
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 
}

.board_shadow{
   filter: drop-shadow( 5px 20px 20px rgba(0, 0, 0, .7));
}

/*-------radio (라디오)--------*/
.radio_ground_wrapper{
  position: absolute;
  width: 23%;
  height: 23%;
  top: 61%;
  left: 20%;
  transform: translate(-50%,-50%);
/*  background-color: aqua;*/
}

.radio_ground_container{
  position: relative;
  width: 100%;
  height: 100%;
  transition: 2s all;
}

.radio_ground_container:hover {
  transform: scale(1.1) translateY(-20px);
}

.radio_island{
  position: absolute;  
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 
}

.radio_shadow{
  filter: drop-shadow( 5px 20px 20px rgba(0, 0, 0, .7));
}

/*-------webrtc (화상채팅)--------*/

.video_ground_wrapper{
  position: absolute;
  width: 23%;
  height: 23%;
  top: 27%;
  left: 80%;
  transform: translate(-50%,-50%);
/*  background-color: aqua;*/
}

.video_ground_container{
  position: relative;
  width: 100%;
  height: 100%;
  transition: 2s all;
}

.video_ground_container:hover {
  transform: scale(1.1) translateY(-20px);
}

.video_island{
  position: absolute;  
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.video_shadow{
   filter: drop-shadow( 5px 20px 20px rgba(0, 0, 0, .7));
}

/*-------감정달력--------*/


.calender_ground_wrapper{
  position: absolute;
  width: 22.7%;
  height: 22.7%;
  top: 61%;
  left: 79.6%;
  transform: translate(-50%,-50%);
/*  background-color: aqua;*/
}

.calender_ground_container{
  position: relative;
  width: 100%;
  height: 100%;
  transition: 2s all;
}

.calender_ground_container:hover {
  transform: scale(1.1) translateY(-20px);
}

.calender_island{
  position: absolute;  
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.calender_shadow{
   filter: drop-shadow( 5px 20px 20px rgba(0, 0, 0, .7));
}