
body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;
      background: white;
  overflow: hidden;
    }
.title{
  position: relative;
  width: 100%;
  height: 20%;
  font-size: 4rem;
  text-align: center;
  top: 17%;
}

    .postmenu_wrapper {
      position: relative;
      width: 90%;
      height: 60%;
/*      background-color: aqua;*/
      left: 50%;
      top: 38%;
      transform: translate(-50%,-50%);
    }

    .postmenu1 {
      position: absolute;
      border-radius: 20px;
      width: 18%;
      height: 71%;
      left: 25%;
      top: 50%;
      transform: translate(-50%, -50%);
/*       background: #fafafa;*/
         background: #f8f8f8;
/*      border: 2px solid  rgba(251,194,235,1);*/
      border-radius: 20px;
      
      box-shadow: 40px 40px 40px #cccccc,
        0 0 0 #ffffff,
        0 0 0 #cccccc inset,
        2px 2px 2px #ffffff inset;
/*      animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;*/
      animation-fill-mode: forwards;
    }



    @keyframes anime {
      0% {
        width: 15%;
        height: 40%;
        background: #f0f0f0;
        box-shadow: 0 0 0 #cccccc,
          0 0 0 #ffffff,
          10px 10px 10px #cccccc inset,
          -10px -10px 10px #ffffff inset;
      }

      25% {
        width: 15%;
        height: 40%;
        background: #f8f8f8;
        box-shadow: 10px 10px 10px #cccccc,
          10px 10px 10px #ffffff,
          0 0 0 #cccccc inset,
          0 0 0 #ffffff inset;
      }

      50% {
        width: 15%;
        height: 8%;
        background: #f8f8f8;
        box-shadow: 10px 10px 10px #cccccc,
          10px 10px 10px #ffffff,
          0 0 0 #cccccc inset,
          0 0 0 #ffffff inset;
      }

      100% {
        width: 4%;
        height: 8%;
        background: #fafafa;
        box-shadow: 40px 40px 40px #cccccc,
          0 0 0 #ffffff,
          0 0 0 #cccccc inset,
          2px 2px 2px #ffffff inset;
      }
    }

.postmenu1_content{
  position: relative;
/*  background-color:aqua;*/
  width: 100%;
  height: 100%;
  text-align: center;
}
.postmenu1_title{
  color: red;
  font-size: 1.84rem;
  padding-top: 38%;
}

.postmenu1_subtitle{
  color: black;
  font-size: 1.04rem;
  padding-top: 2%;
}

.pen_wrapper{
  width: 85%;
  animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
  position: absolute;
  top:59%;
  left:-40%;
  pointer-events: none;
  backface-visibility: hidden;
}


.pen_img{
  width: 45%;
/*  transform-origin: top right;*/
/*  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);*/
  transition-delay: 100ms;
  transform: translateX(30%) rotateZ(-11deg) skewX(1deg);
  pointer-events: none;
  opacity: 1;
}

    .postmenu2 {
      position: absolute;
      width: 18%;
      height: 71%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #f8f8f8;
/*      border: 2px solid  rgba(251,194,235,1);*/
      border-radius: 20px;
      
      box-shadow: 40px 40px 40px #cccccc,
        0 0 0 #ffffff,
        0 0 0 #cccccc inset,
        2px 2px 2px #ffffff inset;
      animation-fill-mode: forwards;
      cursor: pointer;
    }

   
    .postmenu2:active {
      background-image: linear-gradient(180deg, rgba(251,194,235,1) 0%, rgba(166,193,238,1) 100%);
        border: 0px;
        box-shadow: 0 0 0 #cccccc,
          0 0 0 #ffffff,
          10px 10px 10px #cccccc inset,
          -10px -10px 10px #ffffff inset;
      animation: anime2 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
/*      animation-fill-mode: forwards;*/
    }


 @keyframes anime2 {

      0% {
        width: 15%;
        height: 40%;
        background: #f8f8f8;
         border: 4px solid  rgba(251,194,235,1);
        box-shadow: 10px 10px 10px #cccccc,
          10px 10px 10px #ffffff,
          0 0 0 #cccccc inset,
          0 0 0 #ffffff inset;
      }

      50% {
        width: 15%;
        height: 40%;
        background-image: linear-gradient(180deg, rgba(251,194,235,1) 0%, rgba(166,193,238,1) 100%);
        border: 0px;
        box-shadow: 0 0 0 #cccccc,
          0 0 0 #ffffff,
          10px 10px 10px #cccccc inset,
          -10px -10px 10px #ffffff inset;
      }

      100% {
        width: 15%;
        height: 40%;
        background: #f8f8f8;
         border: 4px solid  rgba(251,194,235,1);
        box-shadow: 10px 10px 10px #cccccc,
          10px 10px 10px #ffffff,
          0 0 0 #cccccc inset,
          0 0 0 #ffffff inset;
      }
    }


.postmenu2_content{
  position: relative;
/*  background-color:aqua;*/
  width: 100%;
  height: 100%;
  text-align: center;
}

.postmenu2_title{
  color: red;
  font-size: 1.84rem;
  padding-top: 38%;
}

.postmenu2_subtitle{
  color: black;
  font-size: 1.04rem;
  padding-top: 2%;
}

.letter_wrapper{
  width: 85%;
  animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
  position: absolute;
  top: 53%;
  left:15%;
  pointer-events: none;
  backface-visibility: hidden;
}


.letter_img{
  width: 65%;
/*  transform-origin: top right;*/
/*  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);*/
  transition-delay: 100ms;
  transform: translateX(30%) rotateZ(-11deg) skewX(1deg);
  pointer-events: none;
  opacity: 1;
}

.letter_wrapper2{
  width: 85%;
  animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
  position: absolute;
  top: 75%;
  left:-9%;
  pointer-events: none;
  backface-visibility: hidden;
}


.letter2_img{
  width: 38%;
/*  transform-origin: top right;*/
/*  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);*/
  transition-delay: 100ms;
  transform: translateX(30%) rotateZ(11deg) skewX(1deg);
  pointer-events: none;
  opacity: 1;
}

    .postmenu3 {
      position: absolute;
      border-radius: 20px;
      width: 18%;
      height: 71%;
      left: 75%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #fafafa;
      box-shadow: 40px 40px 40px #cccccc,
        0 0 0 #ffffff,
        0 0 0 #cccccc inset,
        2px 2px 2px #ffffff inset;
      animation: anime3 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
      animation-fill-mode: forwards;
    }
/*


 @keyframes anime3 {

      0% {
        width: 15%;
        height: 40%;
        background: #f8f8f8;
        box-shadow: 10px 10px 10px #cccccc,
          10px 10px 10px #ffffff,
          0 0 0 #cccccc inset,
          0 0 0 #ffffff inset;
      }

      50% {
        width: 15%;
        height: 40%;
        background: #f0f0f0;
        box-shadow: 0 0 0 #cccccc,
          0 0 0 #ffffff,
          10px 10px 10px #cccccc inset,
          -10px -10px 10px #ffffff inset;
      }

      100% {
        width: 15%;
        height: 40%;
        background: #f8f8f8;
        box-shadow: 10px 10px 10px #cccccc,
          10px 10px 10px #ffffff,
          0 0 0 #cccccc inset,
          0 0 0 #ffffff inset;
      }
    }
*/



.postmenu3_content{
  position: relative;
/*  background-color:aqua;*/
  width: 100%;
  height: 100%;
  text-align: center;
}

.postmenu3_title{
  color: red;
  font-size: 1.84rem;
  padding-top: 38%;
}

.postmenu3_subtitle{
  color: black;
  font-size: 1.04rem;
  padding-top: 2%;
}

.post_wrapper{
  width: 85%;
  animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
  position: absolute;
  top: 57%;
  left:32%;
  pointer-events: none;
  backface-visibility: hidden;
}


.post_img{
  width: 50%;
/*  transform-origin: top right;*/
/*  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);*/
  transition-delay: 100ms;
  transform: translateX(30%) rotateZ(-4deg) skewX(1deg);
  pointer-events: none;
  opacity: 1;
}
