.mainisland {
    width: 100vw;
    height: 100vh; 
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('../../image/sky.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    /* perspective: 800px; */
  }
  
  .postbox {
    opacity: 0;
    position: absolute;
    top: 130%;
    left: 50%;
    z-index: 30;
    transform: translate(-50%,50px) scale(0);
    width: 30rem;
    height: 5rem;
    transition: all 1s;
  }

  .healing {
    opacity: 0;

    position: absolute;
    left: 60%;
    top: 50%;
    z-index: 30;
    transform: translate(-50%,50px) scale(0);
    
    width: 35rem;
    height: 4.5rem;
    transition: all 1s;

  }

  .gurumi {
    opacity: 0;
    position: absolute;
    top: 78%;
    left: 8%;
    width: 35rem;
    height: 4.5rem;
    transform: translate(0,50px) scale(0);
    transition: 1s all;

  }

  .chatroom {
    opacity: 0;
    position: absolute;
    width: 35rem;
    height: 3.8rem;
    z-index: 30;
    top: 40%;
    left: 3%;
    transform: translate(0,50px) scale(0);
    transition: 1s all;
  }

  .calenderflag{
    opacity: 0;
    position: absolute;
    width: 35rem;
    height: 4.5rem;
    z-index: 30;
    top: 65%;
    left: 25%;
    transform: translate(0,50px) scale(0);
    transition: 1s all;

  }
 
  .mainisland.show  {
    animation: min .3s forwards linear;
  }


  @keyframes min {
    0%{
      background-size: 2500px 2500px;
      background-size: cover;

    }
    50% {
      background-size: 2000px 2000px;
      background-size: cover;
    }
    100% {
      background-size: cover;
    }
  }

  .white-background {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index:100;
    transition: .3s all;
  }

  .white-hide{
    opacity: 0;
    z-index: -40;
  }

  .star {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

    .main_wrapper {
    position: relative;
    opacity:0;
    transform: perspective(800px) scale(0) translate3d(0,0,-1000px);
    width: 100%;
    height: 100%;
    /* transition: all 1s; */

  }
  .show {
    opacity: 1;
    /* transform: perspective(800px) scale(1) translate3d(0,0,0px); */
    animation: show .5s forwards linear;
  }
  
  @keyframes show {
    0%{
      transform: perspective(800px) scale(0) translate3d(0,0,-1000px);

    }
    50%{
      transform: perspective(800px) scale(0.5) translate3d(0,0,-500px);
    }
    /* 20%{
      transform: perspective(800px) scale(0.2) translate3d(0,0,-800px);
    }
    40%{
      transform: perspective(800px) scale(0.4) translate3d(0,0,-600px);
    }
    60%{
      transform: perspective(800px) scale(0.6) translate3d(0,0,-400px);
    }
    80%{
      transform: perspective(800px) scale(0.8) translate3d(0,0,-200px);
    } */
    100%{
      transform: perspective(800px) scale(1) translate3d(0,0,0px);
    }
  }
  /*-------post (우체통)--------*/
  
  
  .post_ground_wrapper {
    position: absolute;
    width: 30%;
    height: 30%;
    top: 48%;
    left: 51%;
    transform: translate(-50%,-50%);
  }

  .post_ground_container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s all;
    cursor: pointer;

  }
  .paper-plane,.paper-plane-2{
    opacity: 0;
    position: absolute;
    top: -90%;
    left: 25%;
    width: 2rem;
    height:2rem;
    z-index: 30;
    /* motion-path:path("M397.72,61.29c-2.45-1.46-4.94-2.82-7.5-4.08-14.2-7-60-30.5-136.53-39.09-29.85-3.35-66.38-7.45-113.36,0C83.48,27.14,0,54.88.5,85.24c.33,19.47,34.81,34.22,56.24,41.8,58.82,20.82,122.71,22.1,182.73,5.09,69.18-19.61,117.5-44.24,151.34-66,17.79-11.42,54.85-37,111.05-52.64a360.22,360.22,0,0,1,98-13,337.49,337.49,0,0,1,76.6,9.19C700.14,15.28,783.52,35,783.73,61c.25,30.36-112.81,57.28-169.79,61.32-11.64.82-21.36.84-23.06.7A443.29,443.29,0,0,1,495,104.67,443.92,443.92,0,0,1,397.72,61.29Z");
    offset-path: path("M397.72,61.29c-2.45-1.46-4.94-2.82-7.5-4.08-14.2-7-60-30.5-136.53-39.09-29.85-3.35-66.38-7.45-113.36,0C83.48,27.14,0,54.88.5,85.24c.33,19.47,34.81,34.22,56.24,41.8,58.82,20.82,122.71,22.1,182.73,5.09,69.18-19.61,117.5-44.24,151.34-66,17.79-11.42,54.85-37,111.05-52.64a360.22,360.22,0,0,1,98-13,337.49,337.49,0,0,1,76.6,9.19C700.14,15.28,783.52,35,783.73,61c.25,30.36-112.81,57.28-169.79,61.32-11.64.82-21.36.84-23.06.7A443.29,443.29,0,0,1,495,104.67,443.92,443.92,0,0,1,397.72,61.29Z"); */
    motion-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
    offset-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
    motion-path: path("M.44,111.48a206.19,206.19,0,0,1,171-110A344.38,344.38,0,0,1,263.94,7s80.31,13.87,121.75,49.5A113.43,113.43,0,0,1,397.94,69c2.83,3.45,10.19,12.43,14,23a52.85,52.85,0,0,1,3,20.46A62.32,62.32,0,0,1,404.34,144a166.83,166.83,0,0,1-25.4,30c-40.4,37.57-88,43.87-106,46-41.53,4.91-73.51-4.35-89-9a238.34,238.34,0,0,1-74.45-37.71A77.65,77.65,0,0,1,98.43,163.2C86.58,150.12,64.72,121.37,70.94,91c9.93-48.52,84.16-66.06,129-64,43.05,2,74.78,22.7,89,32,33.19,21.68,49.53,46.55,53,52,7.57,11.85,17.21,27.33,20,50,2.9,23.56-3.41,41.84-6,50a105.49,105.49,0,0,1-25,42c-29.05,29.68-66.63,31.75-76,32a122.19,122.19,0,0,1-80-29");
    offset-path: path("M.44,111.48a206.19,206.19,0,0,1,171-110A344.38,344.38,0,0,1,263.94,7s80.31,13.87,121.75,49.5A113.43,113.43,0,0,1,397.94,69c2.83,3.45,10.19,12.43,14,23a52.85,52.85,0,0,1,3,20.46A62.32,62.32,0,0,1,404.34,144a166.83,166.83,0,0,1-25.4,30c-40.4,37.57-88,43.87-106,46-41.53,4.91-73.51-4.35-89-9a238.34,238.34,0,0,1-74.45-37.71A77.65,77.65,0,0,1,98.43,163.2C86.58,150.12,64.72,121.37,70.94,91c9.93-48.52,84.16-66.06,129-64,43.05,2,74.78,22.7,89,32,33.19,21.68,49.53,46.55,53,52,7.57,11.85,17.21,27.33,20,50,2.9,23.56-3.41,41.84-6,50a105.49,105.49,0,0,1-25,42c-29.05,29.68-66.63,31.75-76,32a122.19,122.19,0,0,1-80-29");
    transform: rotate(160deg) ;
    motion-rotation: reverse;
  }
  /* .paper-plane-2 {
    top: 0%;
    left: -30%;
    motion-path: path('m232.771103, 329.79953c-102.829727, -78.900574 -139.598976, -128.812088 -139.897499, -189.912598c-0.270775, -55.699638 45.11657, -109.459106 92.15345, -109.14909c23.485428, 0.155491 73.868423, 20.65649 91.709885, 37.317997c8.990051, 8.395851 13.248871, 7.567986 33.261871, -6.467178c54.464142, -38.195642 107.654175, -38.997543 142.101776, -2.141006c55.054443, 58.903046 45.031464, 129.243813 -28.812988, 202.207039c-39.259857, 38.791107 -124.994751, 107.608795 -134.060852, 107.608795c-2.761017, 0 -28.16275, -17.759216 -56.455643, -39.463959l0, 0z');
    offset-path: path('m232.771103, 329.79953c-102.829727, -78.900574 -139.598976, -128.812088 -139.897499, -189.912598c-0.270775, -55.699638 45.11657, -109.459106 92.15345, -109.14909c23.485428, 0.155491 73.868423, 20.65649 91.709885, 37.317997c8.990051, 8.395851 13.248871, 7.567986 33.261871, -6.467178c54.464142, -38.195642 107.654175, -38.997543 142.101776, -2.141006c55.054443, 58.903046 45.031464, 129.243813 -28.812988, 202.207039c-39.259857, 38.791107 -124.994751, 107.608795 -134.060852, 107.608795c-2.761017, 0 -28.16275, -17.759216 -56.455643, -39.463959l0, 0z');
  } */

  /* @keyframes sweep {
    0% {
      opacity: 1;
      motion-offset: 0;
      offset-distance: 0;
    }
  
    to {
      opacity: 1;
      motion-offset: 100%;
      offset-distance: 100%;
    }
  } */
  .post_ground_container:hover .paper-plane {
    animation: move 2000ms forwards linear ;
  }

  
  /* .post_ground_container:hover .paper-plane-2 {
    animation: sweep 6s linear infinite;
  } */
  @keyframes move {
    0%{
      opacity: 1;
    }
    90%{
      opacity: 1;
    }
    100% {
      opacity: 0.4;
      offset-distance: 100%;
    }
  }
  
  .post_island{
    position: absolute;  
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    pointer-events: none;

  }
  
  .post_ground_container:hover {
    transform: scale(1.1) translateY(-20px);
  }
  
  .post_ground_wrapper:hover  .postbox {
    opacity: 1;
    transform: translate(-50%,0) scale(1);
  }
  
  .post_shadow{
     filter: drop-shadow( 5px 20px 20px rgba(0, 0, 0, .7));
  }
  
  /*-------board (게시판)--------*/
  
  .game_ground_wrapper{
    position: absolute;
    width: 35%;
    height: 35%;
    top: 35%;
    left: 22%;
    transform: translate(-50%,-50%);
  }
  
  .game_ground_container{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s all;
    cursor: pointer;
  }
  
  /* .game_ground_container:hover {
    transform: scale(1.1) translateY(-20px);
  } */
  
  .game_island{
    position: absolute;  
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    /* transform-origin: 50% 50%; */
    transform: translate(-50%,-50%);
    transition: .7s all;
  }
  .pointer-game,.pointer-chat,.pointer-video,.pointer-calender {
    position: absolute;
    z-index: 10;
    width: 40%;
    height: 40%;
    border-radius: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    transition: 1s all;
  }
  .pointer-game:hover  {
  transform: perspective(1200px)  translate3d(-50%,calc(-50% - 50px),50px) scale(1.1);
  }
  .pointer-game:hover ~ .healing {
      opacity: 1;
      transform: translate(-50%,0px) scale(1);
  
  }
.pointer-game:hover ~ .game_island {
  /* transform-origin: top left; */
  transform: perspective(1200px)  translate3d(-50%,calc(-50% - 50px),50px) scale(1.1);
}
  /*-------하소연 -------*/
  .chat_ground_wrapper{
    position: absolute;
    width: 43%;
    height: 43%;
    top: 60%;
    left: 22%;
    transform: translate(-50%,-30%);
  }
  .pointer-chat {
    top: 55%;
    width: 35%;
    height: 58%;
  }
  .chat_ground_container{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .chat_island{
    position: absolute;  
    width: 101%;
    height: 101%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 1s all;
  }
  .pointer-chat:hover {
    transform: perspective(1200px)  translate3d(-50%,calc(-30% - 50px),50px) scale(1.1);
  }
  .pointer-chat:hover ~ .gurumi {
    opacity: 1;
    transform: translate(0,0px) scale(1);
    
  }
  .pointer-chat:hover ~ .chat_island {
    transform: perspective(1200px)  translate3d(-50%,calc(-30% - 50px),50px) scale(1.1);
  }
  

  
  /*-------webrtc (화상채팅)--------*/
  
  .video_ground_wrapper{
    position: absolute;
    width: 40%;
    height: 40%;
    top: 38%;
    left: 80%;
    transform: translate(-50%,-50%);
  /*  background-color: aqua;*/
  }

  .pointer-video {
    width: 35%;
    left: 45%;
    height: 55%;
  }
  
  .video_ground_container{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s all;
  }
  .video_island{
    position: absolute;  
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 1s all;
  }

  .pointer-video:hover {
    transform: perspective(1200px)  translate3d(calc(-50% + 50px) ,calc(-50% - 50px),50px) scale(1.1);
  }
  .pointer-video:hover ~ .chatroom {
    opacity: 1;
    transform: translate(0,0px) scale(1);
  }
  .pointer-video:hover ~ .video_island {
    transform: perspective(1200px)  translate3d(calc(-50% + 50px),calc(-50% - 50px),50px) scale(1.1);
  }
  
  
  
  

  /*-------감정달력--------*/
  
  
  .calender_ground_wrapper{
    position: absolute;
    width: 43%;
    height:43%;
    top: 73%;
    left: 80%;
    transform: translate(-50%,-50%);
  /*  background-color: aqua;*/
  }
  
  .calender_ground_container{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s all;
  }
  .pointer-calender {
    top: 45%;
    width: 40%;
    height: 45%;
  }

  .calender_island{
    position: absolute;  
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 1s all;

  }

  .pointer-calender:hover {
    transform: perspective(1200px)  translate3d(calc(-50% + 50px) ,calc(-30% - 50px),50px) scale(1.1);
  }
  .pointer-calender:hover ~ .calenderflag{
    opacity: 1;
    transform: translate(0,0px) scale(1);
    
  }
  .pointer-calender:hover ~ .calender_island {
    transform: perspective(1200px)  translate3d(calc(-50% + 50px),calc(-30% - 50px),50px) scale(1.1);
  }
  

  object {
    width: 100%;
    height: 100%;
  }


/*  */
.short-profile {
  width: 25vw;
  position: absolute;
  top: 1rem;
  right: 11vw;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  position: absolute;
  top: 0.6vh;
  left: 1rem;
  cursor: pointer;
  z-index: 100;
}

.logo img {
  width: 10vw;
}
